<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<title>Klang.dev - {{page.id}}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="$assetsDir/images/favicon.png"
    />
    <link rel="stylesheet" href="$assetsDir/css/back.css" />
  </head>

  <body>
  </body>
</html>