<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<title>Klang.dev - {{page.id}}</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="$assetsDir/images/favicon.png"
        />
        <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css" />
        <link rel="stylesheet" href="$assetsDir/css/main.css" />
	</head>

	<body>
        <div class="wrapper">
            <header>
                <img style="width: inherit;" src="$assetsDir/images/me_main.png" alt="Image of Jesper" />
            </header>
            <c-navigation page={{page.id}}></c-navigation>
            <main>
                {{ body | safe }} {{ lwr_resources | safe }}
            </main>
            <footer>
                <div class="slds-m-top_xx-large" style="text-align: center;">
                    <a target="_blank" href="https://trailhead.salesforce.com/trailblazers/jesper-klang"><img style="height: 50px;" src="$assetsDir/images/trailhead_alt.svg" alt="Trailhead" /></a>
                    <a target="_blank" href="https://www.linkedin.com/in/jesperklang/"><img style="height: 50px;" src="$assetsDir/images/linkedin.svg" alt="LinkedIn" /></a>
                    <a target="_blank" href="https://github.com/jesperklang/klang.dev"><img style="height: 50px;" src="$assetsDir/images/github.svg" alt="GitHub" /></a>
                    <!-- <a target="_blank" href="https://www.youtube.com/@JesperKlang"><img style="height: 50px;" src="$assetsDir/images/youtube.svg" alt="YouTube" /></a> -->
                </div>
            </footer>
        </div>
	</body>
</html>