<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<title>Klang.dev - {{page.id}}</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="$assetsDir/images/favicon.png"
        />
        <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css" />
        <!-- <link rel="stylesheet" href="$assetsDir/css/main.css" /> -->
	</head>

	<body>
        <div class="wrapper">
            <header>
                <img style="width: inherit;" src="$assetsDir/images/me_main.png" alt="Image of Jesper" />
            </header>
            <nav>
                <div class="slds-tabs_default">
                    <ul class="slds-tabs_default__nav" role="tablist">
                        <li class="slds-tabs_default__item slds-is-active" title="Home" role="presentation">
                            <a class="slds-tabs_default__link" href="/" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Home</a>
                        </li>
                        <li class="slds-tabs_default__item" title="Fun stuff" role="presentation">
                            <a class="slds-tabs_default__link" href="/fun" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Fun stuff</a>
                        </li>
                        <li class="slds-tabs_default__item" title="About" role="presentation">
                            <a class="slds-tabs_default__link" href="/about" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">About</a>
                        </li>
                    </ul>
                    <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">Item One Content</div>
                    <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Item Two Content</div>
                    <div id="tab-default-3" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">Item Three Content</div>
                </div>

            </nav>
            <main>
                {{ body | safe }}
            </main>
            <footer>
                <div style="text-align: center;">
                    <a target="_blank" href="https://www.linkedin.com/in/jesperklang/"><img style="height: 50px;" src="$assetsDir/images/linkedin.svg" alt="LinkedIn" /></a>
                    <a target="_blank" href="https://github.com/jesperklang"><img style="height: 50px;" src="$assetsDir/images/github.svg" alt="GitHub" /></a>
                    <a target="_blank" href="https://www.youtube.com/@JesperKlang"><img style="height: 50px;" src="$assetsDir/images/youtube.svg" alt="YouTube" /></a>
                </div>
            </footer>
        </div>
	</body>
</html>