<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<title></title>
        <link rel="stylesheet" href="$assetsDir/css/main.css" />
	</head>

	<body>
        <div class="wrapper">
            <header>
                <img style="width: inherit;" src="$assetsDir/images/me_main.png" alt="Image of Jesper" />
            </header>
            <nav>
                <ul>
                    <li><a href="/">Home</a>
                    <li><a href="/about">About</a>
                </ul>
            </nav>
            <main>
                {{ body | safe }}
            </main>
        </div>
	</body>
</html>